*.sdf
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
.vs/

**/*.vcxproj
**/*.vcxproj.filters
**/*.vcxproj.user
*.slnx
.vs/
Debug/
Release/
x64/
build/

*.obj
*.exe
*.pdb
*.ilk
*.exp
*.lib
x64/
Debug/
Release/
ipch/